 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282828;
 }

 .clock{
    width: 350px;
    height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background: url(images/pngwing.com.png);
    background-size: cover;
    border-radius: 50%;
    box-shadow: inset 10px 10px 15px #202020,
                inset -10px -10px 15px #202020;}

.clock::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: #747474;
    border-radius: 50%;
    z-index: 4;
}

.clock .sec {
    width: 230px;
    height: 230px;
    display: flex;
    position: absolute;
    justify-content: center;
    
    
    
}

.sec:before {
    content: "";
    position: absolute;
    width: 2px;
    height:150px;
    z-index: 3;
    border-radius: 6px 6px 0 0;
    background-color:lightgray;
}

.clock .min{
    width: 230px;
    height: 230px;
    display: flex;
    position: absolute;
    justify-content: center;
}

.min:before{
    content: "";
    position: absolute;
    width: 8px;
    height:150px;
    z-index:3;
    border-radius: 6px 6px 0 0;
    background-color: lightgray;
    
}


.clock .hour{
    width: 230px;
    height: 230px;
    display: flex;
    position: absolute;
    justify-content: center;
}

.hour:before{
    content: "";
    position: absolute;
    width: 12px;
    height:80px;
    z-index:3;
    border-radius: 6px 6px 0 0;
    background-color: lightgray;
    padding-top: 50px;
    
}
